{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Skladchina</h1>
    <p class="lead">Skladchina is a free market space bla bla bla</p>
    <p><a href="https://www.skladchina.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            More about scladchina
        </p>
        <p><a class="btn btn-default" href="Sladchina">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Skladchina</h2>
        <p>Skladchina allows you to do some cool stuff</p>
        <p><a class="btn btn-default" href="skladchina/cool-stuff">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Skladchina partnership</h2>
        <p>You can easily became a part of skladchina community</p>
        <p><a class="btn btn-default" href="skladchina/community">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
